VITE_MUSIC_PLAYER_SERVER=netease
VITE_MUSIC_PLAYER_TYPE=playlist
VITE_MUSIC_PLAYER_ID=2028178887

VITE_PROJECT_CARDS=[{"go":"🚀 前往","img":"/img/sunshine.jpg","title":"Blog","subtitle":"record the moment", "text":"以失去的心态去拥有","url":"https://blog.117911.xyz","show":false},{"go":"👍 前往","img":"/img/sunshine.jpg","title":"Sink","subtitle":"化繁为简", "text":"将无意义长连接用短链接形式分享并分析点击","url":"https://sink.117911.xyz","show":false},{"go":"📝 前往","img":"/img/sunshine.jpg","title":"Gemini_balance","subtitle":"", "text":"","url":"http://44.244.114.59:8000","show":false},{"go":"🗂️ 前往","img":"/img/sunshine.jpg","title":"Alist","subtitle":"files", "text":"documents.","url":"https://gluyfikiceiq.ap-southeast-1.clawcloudrun.com/","show":false},{"go":"📝 前往","img":"/img/sunshine.jpg","title":"LibreTV","subtitle":"online watch films and Anime", "text":"","url":"https://libretv-cx1.pages.dev/","show":false}]
